import tkinter as tk
from tkinter import filedialog
import openai
import pandas as pd

openai.api_key = ""

def open_file_dialog():
    global file_path
    file_path = filedialog.askopenfilename()
    file_path_entry.delete(0, tk.END)
    file_path_entry.insert(0, file_path)

def analyze_csv():
    global result_text
    planilha = file_path_entry.get()
    prompt = prompt_entry.get()
    api_key = api_key_entry.get()

    openai.api_key = api_key

    # Lendo o arquivo Excel
    df = pd.read_excel(planilha)

    # Concatenando os dados em uma única string
    data_str = '\n'.join([','.join([str(cell) for cell in row]) for row in df.values])

    # Enviando os dados para o ChatGPT e recebendo uma resposta
    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[{"role": "user","content":"de a resposta em português"+ prompt + data_str}]
)

    # Extraindo a resposta do ChatGPT
    mean = response.choices[0].message.content.strip()
    result_text.delete(1.0, tk.END)
    result_text.insert(tk.END, mean)

root = tk.Tk()
root.title("Analise com ChatGPT com planilha de Excel")

file_path_label = tk.Label(root, text="Endereço da Planilha:")
file_path_label.grid(row=0, column=0, padx=5, pady=5)

file_path_entry = tk.Entry(root, width=50)
file_path_entry.grid(row=0, column=1, padx=5, pady=5,sticky="ew")

browse_button = tk.Button(root, text="Buscar", command=open_file_dialog)
browse_button.grid(row=0, column=2, padx=5, pady=5)

prompt_label = tk.Label(root, text="Prompt de Análise:")
prompt_label.grid(row=1, column=0, padx=5, pady=5)

prompt_entry = tk.Entry(root, width=50)
prompt_entry.grid(row=1, column=1, padx=5, pady=5,sticky="ew")

api_key_label = tk.Label(root, text="Chave OpenAI:")
api_key_label.grid(row=2, column=0, padx=5, pady=5)

api_key_entry = tk.Entry(root, width=50)
api_key_entry.grid(row=2, column=1, padx=5, pady=5,sticky="ew")

analyze_button = tk.Button(root, text="Analisar", command=analyze_csv)
analyze_button.grid(row=3, column=1, padx=5, pady=5)

result_label = tk.Label(root, text="Resultado:")
result_label.grid(row=4, column=0, padx=5, pady=5)

# Adicionando barra de rolagem ao campo de resultado
result_scrollbar = tk.Scrollbar(root)
result_scrollbar.grid(row=4, column=1, sticky="nsew")
result_text = tk.Text(root, height=20, width=100, wrap=tk.WORD, yscrollcommand=result_scrollbar.set)
result_text.grid(row=4, column=1, padx=5, pady=5, sticky="nsew")
result_scrollbar.config(command=result_text.yview)

root.mainloop()

